/*
Styles communs à tous les modes de jeu
*/

body{
	background-color : black;
}

h1{
	display : block;
	margin : 0;
	text-align : center;
	font-variant : small-caps;
	font-size : 40px;
	font-family : Verdana;
}

#titre{
	display : block;
	width : 1150px;
	margin : auto;
	margin-top : 10px;
	margin-bottom : 10px;
	padding-left : 10px;
	padding-bottom : 8px;
	color : black;
	background-color : #BBBBBB;
	border :  5px solid white;
	border-radius : 20px;
}

canvas{
	display : inline-block;
	padding : 10px; 
	margin : auto; 
	vertical-align :  top;
}

#canvasJoueur{
	cursor :  crosshair;
}

#canvasOrdi{
	cursor :  not-allowed;
}

#game{
	width : 1150px;
	margin : auto;
	background-color : #BBBBBB;
	border : 5px solid white;
	border-radius : 20px;
}

#infos{
	overflow : auto;
	padding : 10px;
	font-family : "Courier New", Courier, Monospace;
	color : #000000;
	background-color :  #CCCCCC;
	border : 3px solid black;
	border-radius : 10px;
}

.boutton{
	display : block;
	margin : auto; 
	margin-top : 10px; 
	padding : 5px;
	font-size : 16px;
	font-family : Verdana;
	background-color : #BBDDBB;
	border :  3px solid white;
	border-radius :  5px;
}

.boutton:hover{
	background-color : #88AA88;
	cursor : pointer; 
}
